.sidebarOptions{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    color:#f5c13e;
    width: auto;
    margin-left: 10px;
    
}

.sidebarOptions__active{
    color:#608bb8;
    transition:10ms ease-out;
    font-size: 18px;
    width: auto;
    height: auto;
}

.SideBarIcons{
    color : '#f5c13e'
}

.sidebarOptions:hover{
    background-color: #e9eaeb;
    color:#89baee;
    transition:10ms ease-out;
}

h3{
    margin-left: 20px;
}

h3 Link {
    text-decoration: none;
}

