

.sidebar{
    background-color:#faebd7;
    padding: 10px;
    /* margin-right: 30px; */
    /* width: 200px; */
    flex: 0.2;
    min-width: fit-content;

    height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid #ffffff;
}

.sidebar::-webkit-scrollbar{
    display: none;
}


.ProfileInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 9999px;
    padding: 10px;
    width: auto;
}

.sidebar .profileContainer{
    width: auto;
    background-color: #fbd9af;
    padding: 5px 20px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.subUserInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    gap: 0;
}

.subUserInfo>h4{
    margin: 0;
    opacity: 0.5;
}



.userInfoDiv1>h2{
    font-size: 14px;
}

.userInfoDiv1>h4{
    margin: 0;
    opacity: 0.5;
}

.menu .doneIcon{
    display: flex;
    justify-content: center;
    color: rgb(8, 197, 8);
    padding: 10px;
}

.sidebar .VoiceBoxBtn{
    color: #ffffff;
    background-color: #FFC107;
    font-size: 20px;
    border-radius: 15px;
    font-family: cursive;
    font-style: italic;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.sidebar .VoiceBoxBtn:hover{
    background-color: #FFD700;
}
