.post {
    display: flex;
    /* align-items: flex-start; */
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    background-color: #fcf2e5;
    margin-bottom: 5%;
    border: 1px solid #ff9100;
    
}

.post_avatar {
    margin-right: 20px;
}

.post_body {
    flex: 1;
}

.post_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_headerText {
    display: flex;
    align-items: center;
}

.post_headerText h3 {
    margin: 0;
    font-size: 1.2rem;
}

.post_headerSpecial {
    font-weight: 600;
    font-size: 0.9rem;
    color: gray;
}

.post_badge {
    font-size: 20px !important;
    color: #1DA1F2;
    margin-left: 5px;
}

.post_headerDescription {
    margin-top: 10px;
    font-size: 1rem;
    max-height: 3.6em; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    cursor: pointer;
}

.post_headerDescription.expanded {
    max-height: none;
    -webkit-line-clamp: unset;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post_footerIcon {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 5px 1px;
    transform: scale(1.5);
}

.post_footerIcon:hover {
    transform: scale(1.2);
}


.post .post_body .post_header .postImage{

    display: block;
    margin: 10px auto;

    border-radius: 20px;
    margin-top: 10px;
    width: max-content;
    height: max-content;

    background-color: aqua;
}

.post .profileImg{
    transform: scale(1.5);
    margin: 5px;
}


