.page{
    flex: 0.8;
    border-right: 1px solid #e0e0e0;
    width: 100vw;
    padding: 0 180px;
    height: 100vh;
    display: flex;
}

.pageHeading{   
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}